<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cupcakes</title>
</head>
<body>

<form action="/api/cupcakes/search" id="search-cupcake-form">
  <label for="search-cupcakes">Search for Cupcakes</label>
  <input type="text" id="search-cupcakes" name="search-cupcakes">
  <button id="search-cupcake-btn">Search</button>
</form>

{% for msg in get_flashed_messages() %}
  <div class="alert alert-info">{{ msg }}</div>
{% endfor %}

{% block content %}
{% endblock %}

  <button id="add-cupcake-btn">Add Cupcake</button>
<!-- </form> -->
<ul id="cupcake-list">
</ul>
<script src="http://unpkg.com/jquery"></script>
<script src="/static/cupcakes.js"></script>
</body>
</html>