<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cupcakes</title>
</head>
<body>

<form action="/api/cupcakes/search" id="search-cupcake-form">
  <label for="search-cupcakes">Search for Cupcakes</label>
  <input type="text" id="search-cupcakes" name="search-cupcakes">
  <button id="search-cupcake-btn">Search</button>
</form>

<form action="/api/cupcakes" method="POST" id="new-cupcake-form">
   <label for="flavor"> Flavor </label>
     <input type="text" id="flavor" name="flavor">
  <label for="size"> Size </label>
    <input type="text" id="size" name="size">
  <label for="rating"> Rating </label>
    <input type="text" id="rating" name="rating">
  <label for="image_url"> Image URL</label>
    <input type="text" id="image_url" name="image_url">

  <button id="add-cupcake-btn">Add Cupcake</button>
</form>
<ul id="cupcake-list">
</ul>
<script src="http://unpkg.com/jquery"></script>
<script src="/static/cupcakes.js"></script>
</body>
</html>